.dashboard-header-container{
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    /* border: 1px solid #eee; */
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px #e3e3e3;
    align-items: baseline;
    justify-content: space-between;
}

.dashboard-header-text {
    color:  #066f7f;
}

.dashboard-form-layout {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 20px;
    border: 1px solid #ddd;
}

.dashboard-form-layout div {
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #eeeeee41;
}

.dashboard-form-layout div span {
    font-weight: 500;
    color: #066f7f;
}

.dashboard-form-layout div h5 {
    color: #0151AC;
    font-size: 23px;
}

.dashboard-container {
    text-align: center;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255);
    border-radius:5px;
    padding:20px;
}

.dashboard-hlayout {
    border: 1px solid #ddd;
    margin:auto;
    padding:30px;
    text-align: center;
    height: 100vh;
}

.dashboard-div {
    text-align: center;
    box-sizing: border-box;
    /* border: 2px solid #ddd; */
    width: 100%;
    
}
.dashboard-div h1 {
    color: #066f7f;
    font-weight: 700;
    text-align: center;
    font-size: 80px;
    padding: 20px 0;
}

.dashboard-div h6 {
    text-transform: lowercase;
    font-style: italic;
    color: #456289;
    font-size: 16px;
    width:100%;
    /* background-color:#456289; */
    padding:10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

/* REP DASHBOARD VIEW */

.rep-dashboard-layout {
    background:#fff;
    box-sizing:border-box;
    border-radius:5px;
    border:1px solid #dddd;
    height:100%;
}

.menu-card-component img {
    width:80px;
}

.rep-dashboard-menu-layout {
   box-sizing:border-box;
   gap:10px;
   padding:20px;
}

.rep-dashboard-title-div {
    box-sizing:border-box;
}

.signout-link {
    text-decoration:none;
    background:#ff0000;
    text-align:center;
    max-width:fit-content;
    padding:5px;
    border-radius: 5px;
    color:#ffff;
}

.rep-dashboard-header-container{
   background:#ffff;
   padding: 0 20px;
   box-sizing:border-box;
   align-items:center;

}

.rep-dashboard-sheet-title {
    text-align:center;
}

.menu-card-component {
    border:1px solid #ddd;
    border-radius:10px;
    margin:auto;
    box-sizing:border-box;
}
.menu-card-component h3 {
      color: #066f7f;
}

.menu-card-component:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    border: 1px solid #066f7f;
    cursor:pointer;
    box-shadow:2px 2px 5px solid #ddd;

}

@media screen and (max-width: 768px) {
    .dashboard-header-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
    }
    .dashboard-div h1 {
        font-size: 40px;
         box-sizing: border-box;
    }
    .signout-link {
        font-size:small;
    }
    .dashboard-div h6 {
        font-size: 12px;
        /* padding: 7px; */
    }
    .dashboard-container, .rep-dashboard-layout {
        height:100vh;
    }
    .rep-dashboard-title-div {
        min-width:80%;
        padding:0;
    }

    .rep-dashboard-menu-layout {
        flex-direction:column;
    }
    .rep-dashboard-sheet-title {
        font-size:larger;
    }
    
}