
.login-layout {
    /* border: 1px solid black; */
    margin: auto;
}

.login-main-div {
    margin: 70px auto auto;
    border: 1px solid rgb(234, 234, 234);
    width: 300px;
    box-shadow:rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-radius: 30px;
}
.login-input-div vaadin-button {
    background-color: #066f7f;
    color: #fff;
    font-size: small;
    width: 100%;
    padding:20px;
}

.login-div {
    padding: 10px;
}

.login-footer-text {
    font-size: small;
    text-align: center;
    margin-top: 18px;
    margin-bottom: -15px;
    color: rgb(97, 97, 97);
}

.login-input-div {
    display: grid;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.login-header-div, .login-header-div h3 {
    background-color: #066f7f;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.login-error-container {
    text-align: center;
    padding: 10px;
    margin: 14px 5px 0 5px;
    background-color: rgb(255, 200, 200);
    border-radius: 2px;
    font-size: small;
    color: #c70303;
}

.login-input-fields::part(input-field) {
    font-size: small;
    padding: 2px;
}

.login-footer-text {
    
}




@media screen and (max-width:760px) {
    .logo-main-div {
        width: 100%;
        margin: auto;
    }
    .login-div {
        margin: auto;
    }
}