
.login-layout {
    /* border: 1px solid black; */
    margin: auto;
}

.login-main-div {
    margin: auto;
    margin-top:70px;
    border: 1px solid rgb(223, 223, 223);
    width: 300px;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

.login-div {
    padding: 10px;
}

.login-input-div {
    display: grid;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.login-header-div, .login-header-div h3 {
    background-color: rgb(9, 112, 214);
    color: #fff;
    text-align: center;
}

.login-error-container {
    text-align: center;
    padding: 10px;
    margin: 14px 5px 0 5px;
    background-color: rgb(255, 200, 200);
    border-radius: 2px;
    font-size: small;
    color: #c70303;
}

.login-input-fields::part(input-field) {
    font-size: small;
    padding: 2px;
}


@media screen and (max-width:760px) {
    .logo-main-div {
        width: 100%;
        margin: auto;
    }
    .login-div {
        margin: auto;
    }
}