.manage-users-view ol {
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.manage-users-view li {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}

.manage-users-view li:hover {
  background-color: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-s);
}

.user-view-dialog-layout {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 20px 20px 20px;
}
.user-view-add-dialog {
  
}

.user-view-add-dialog::part(content) { 
  width: 400px;
  box-sizing: border-box;
}


/* MEDIA QUARY */
@media screen and (max-width:600px) {
  .user-view-add-dialog::part(content) {
    max-width: 100%;
  }
}
