.list-checker-page {
    background-color: #ffffff;
}
.list-checker-layout {
    background-color: #ffffff;
    /*border-radius: 10px;*/
    margin:0;
    border: 1px solid rgb(221, 221, 221);
}

.list-checker-layout span {
    color: rgba(78, 103, 129, 0.91);
    font-size: small;
}
.list-checker-layout h3 {
    color: #066f7f;
}

.student-check-list-parent-layout {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: white;
    padding: 0;
}
.input-style::part(input-field) {
    height: 40px;
}
.search-layout {
    margin: 5px auto;
    border-radius: 5px;
    padding:1px;
    max-width:900px;
    box-sizing: border-box;
    align-items: baseline;
    justify-content: space-between;
}

.search-layout .default-button {
    background-color: #066f7f;
    align-self: self-end;
    padding:20px;
}

.search-layout .input-style::part(input-field){
    padding: 8px;
    font-size: 18px;
}

.student-details-display-layout .status-indicator {
    width:100%;
    padding:18px;
}

.student-details-display-layout {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width:80%;
    margin:auto;
}
.student-details-display-layout vaadin-button {
    background-color:#066f7f;
    color:#fff;
    font-size: smaller;
}

.details-row-layout {
    border-bottom: 2px solid rgb(238, 238, 238);
    padding: 5px 0;
}

.student-not-found-layout {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding:20px;
    margin:auto;
    max-width:900px;
    color: rgb(150, 16, 16);
}

.student-not-found-layout p {
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(245, 231, 231);
    padding:20px;
}

.add-student-button-container .add-student-button {
    background-color: #066f7f;
    padding:20px;
    cursor: pointer;
}

.add-student-button-container {
    padding-top: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-width:900px;
}

.add-student-form-layout {
    max-width:900px;
    border: 1px solid #d0d0d0;
    align-items: center;
    padding:10px;
    border-radius: 8px;
    justify-content: center;
    margin:5px auto;
    text-align: center;
}
.add-student-form-layout p {
    font-size: smaller;
    color: rgba(69, 76, 96, 0.58);
}
.add-student-form-layout h3 {
    color: #066f7f;
}

 .default-button {
    padding:20px;
    background-color: #066f7f;
    border-radius: 8px;
     color:#fff;
}

 .route-closed-layout p {
     text-wrap: wrap;
     font-size: 20px;
     max-width: 600px;
     color: #3b4141;
     margin:auto;
 }
 .route-closed-layout {
     background-color: rgba(255, 255, 255, 0.76);
     box-sizing: border-box;
     padding:50px;
     align-items: center;
     text-align: center;
     border-radius: 10px;
     margin:50% auto;
     justify-content: center;
 }

.route-closed-layout .default-button {
    max-width: 300px;
    margin-top: 20px;
}

.notification-horizontal-layout span {
    font-size: smaller;
}

.notification-horizontal-layout {
    width:400px;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .search-layout {
        display: block;
        padding:10px;
    }
    .search-layout .default-button {
        margin-top: 10px;
        min-width: 100%;
    }
    .student-details-display-layout {
        max-width: 100%;
        text-wrap: wrap;
    }
}