html {
    --border-color:rgb(225, 222, 222);
    ---header-text-color:dodgerBlue;
}



.status-label{
    padding: 5px;
    width: 100%;
    font-weight: 400;
    font-size: small;
}

.update-user-formlayout {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
}

.update-user-formlayout h6 {
    color: var(---header-text-color);
    border-bottom: 1px solid rgb(232, 227, 227);
    padding-bottom: 10px;
}

.active {
    color: green;
}

.inactive{
    color: red;
}


@media screen and (max-width:600px) {
    .update-user-formlayout {
        width: 100%;
        padding: 10px;
    }
}

