.view-attendance-view .filter-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  align-items: end;
  gap: 0 var(--lumo-space-l);
}

.view-attendance-view .filter-layout .double-width {
  grid-column-end: span 2;
}

.view-attendance-view .filter-layout .actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-end: -1;
}

.view-attendance-view .filter-layout vaadin-date-picker {
  --vaadin-field-default-width: 6em;
  width: 100%;
}

.view-attendance-view .filter-layout vaadin-combo-box {
  --vaadin-field-default-width: auto;
}

/* Mobile filters */
.view-attendance-view .mobile-filters {
  display: none;
  position: relative;
}

.view-attendance-view .mobile-filters span {
  font-size: var(--lumo-font-size-m);
  font-weight: 500;
}


/* --------------------------------------------------------------------------------------------- */

.table-layout {

  padding: 0;
}
.take-attendance-view-select-2::part(input-field),
.take-attendance-view-select-1::part(input-field) {
font-size: small;
}

.buttons-layout {
  margin-top: 10px;
  width: 100%;
}

.header-layout {
  border-bottom:1px solid rgb(218, 218, 218);
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
}

.save-button {
  margin: 10px;
  background-color: rgb(54, 176, 54);
  color: #fff;
  font-style: normal;
  font-size: small;
  cursor: pointer;
  width: auto;
}

.attendance-table-title {
  background-color: rgb(244, 244, 244);
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: rgb(82, 98, 124);
  font-weight: 600;
  font-size: medium;
}

.generate-button {
  width:120px;
  cursor: pointer;
  box-shadow: none;
}

.view-attendance-filter-container {
  /* border: 1px solid rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.view-attendance-menuBar {
  align-items: center;
  box-shadow: none;
}


.view-attendance-menuBar vaadin-menu-bar-button {
  font-size: 50px;
}

.menubar-item {
  font-size: 12px;
  color: #0840b1;
  /* height: 30px; */
  cursor: pointer;
  box-shadow: none;
  /* background-color: transparent; */
}


.pdfButton:hover{
  transition: 0.3s;
  color: rgb(0, 110, 255);
}
.csvButton:hover{
  transition: 0.3s;
  color: rgb(8, 185, 150);
}

@media screen and (max-width: 760px) {
  .view-attendance-view .filter-layout {
    display: none;
    gap: var(--lumo-space-m);
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
  }

  .view-attendance-view .filter-layout.visible {
    display: grid;
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
  }

  .view-attendance-view .filter-layout > * {
    grid-column-end: span 2;
  }

  .view-attendance-view .mobile-filters {
    display: flex;
    cursor: pointer;
    color: var(--lumo-secondary-text-color);
  }

  .view-attendance-view .mobile-filters:hover::before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.02;
    background-color: currentcolor;
  }

  .view-attendance-view .mobile-filters:hover {
    color: var(--lumo-body-text-color);
  }

  .header-layout {
    flex-direction: column;
    gap:0;
    width: 100%;
  }
  .header-layout vaadin-combo-box, vaadin-date-picker, .filter-field{
    width: 100%; 
  }

}
